body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  margin: 0;
  font-family: 'Work Sans', arial, sans-serif;
  font-size: 18px;
}

main {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 100px;
  width: 400px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/images/bubble-header.png');
  background-repeat: no-repeat;
}

h1 {
  display: none;
}

#start-menu {
  background-image: url('../assets/images/background.png');
  border-radius: 30px;
  height: 580px;
  width: 820px;
}

#start-menu-container {
  margin: 30px auto 20px auto;
  padding: 20px auto;
  height: 400px;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  box-shadow:  3px 3px 3px rgba(109, 109, 109, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#character-select {
  font-size: 18px;
  text-align: center;
  width: 240px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 6px;
  border: gray;
}

#character-img-holder {
  background-color: #564fd8e0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow:  3px 3px 3px rgba(109, 109, 109, 0.3);
}

#character-img {
  margin: 50px;
}

#name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name-wrapper input {
  font-size: 18px;
  text-align: center;
  width: 220px;
  padding: 10px;
  border-radius: 6px;
  border: gray;
  margin: 10px auto;
}

#start-button {
  padding: 10px;
  background-color: #ff00d9;
  color: white;
  border: none;
  width: 240px;
  border-radius: 6px;
  box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.6);
  margin: 10px auto;
  font-size: 20px;
}

#name-wrapper button:active {
  box-shadow: none;
}

.top-scores {
  background-color: #564fd8e2;
  color: whitesmoke;
  height: 100px;
  width: 740px;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow:  3px 3px 3px rgba(109, 109, 109, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topusername, .topscore {
  color: #fff782;
  font-weight: 500;
}

.large-bubble {
  width: 70px;
  height: 70px;
}

.small-bubble {
  width: 50px;
  height: 50px;
}

.instructions-container {
  margin: 10px auto;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-right-container {
  width: space-around;
  display: flex;
  justify-content: space-between;
}

.instruction-button {
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
  box-shadow:  3px 3px 3px rgb(159, 159, 159);
  margin: 10px 0 0 0;
  font-size: 16px;
}

#space-button {
  height: 30px;
  vertical-align: middle;
}


#game-player {
  background-color: #c6b5ff;
  background-image: url('../assets/images/background.png');
  display: none;
  height: 580px;
  width: 820px;
  border-radius: 30px;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.grid {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color:#564fd8e2;
  border-radius: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  margin: 2px;
  display: inline-block;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 200px;
  padding: 12px;
}

.score-container {
  height: 300px;
}


.triangle {
  background-image: url('../assets/images/characters/triangle.png');
  background-size: cover;
}

.circle {
  background-image: url('../assets/images/characters/circle.png');
  background-size: cover;
}

.square {
  background-image: url('../assets/images/characters/square.png');
  background-size: cover;
}


.enemy {
  background-image: url('../assets/images/enemies/bubble.png');
}

.charBullet {
  background-image: url('../assets/images/char-bullets/bullet.png');
}

#start-count {
  color: #fff782;
  font-size: 200px;
  width: 565px;
  position: absolute;
  text-align: center;
  margin-top: 130px;
  z-index: 10;
}

/* responsive stuff */

@media screen and (max-width: 812px) {
  body, main {
    width: 97%;
    min-width: 320px;
  }
  .instruction-button, #character-select, #name-wrapper input, #start-button {
    font-size: 22px;
  }
  #character-select, #start-button {
    width: 320px;
  }
  #character-select{
    margin-top: 20px;
  }
  #name-wrapper input {
    width: 300px;
  }

  /* front page */
  header {
    margin: 8px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 95%;
  }
  #start-menu {
    width: 95%;
    min-width: 400px;
    height: auto;
  }
  #start-menu-container {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 460px;
    margin: 10px auto 0 auto;
  }
  .top-scores {
    min-width: 300px;
    width: 95%;
    height: auto;
    margin: 10px auto;
  }
  .large-bubble {
    display: none;
  }


  /* game page */
  #game-player {
    width: 98%;
    min-width: 430px;
    height: auto;
    border-radius: 10px;
  }
  .game-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 8px;
  }

  .grid {
    width: 100%;
    border-radius: 0;
  }
  .cell {
    flex: 0 0 9%;
    box-sizing: border-box;
    margin: 0.5%;
  }
  .aside{
    width: 90%;
    flex-direction: row;
    margin: 10px auto;
  }
  .score-container {
    height: 30%;
  }
  .instructions-container {
    margin: 5px;
    width: 252px;
  }
  #left-right-container div {
    margin: 0;
  }

}